<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.crm.core.mapper.mapper.RoleModuleMapper">

    <sql id="roleModuleBaseColumnSql">
        id,
        role_id,
        module_id
    </sql>

    <sql id="roleModuleBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.id)">
                    id = #{map.id}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleId)">
                    AND role_id = #{map.roleId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.moduleId)">
                    AND module_id = #{map.moduleId}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertRoleModule" parameterType="com.hzit.crm.core.entity.RoleModule">
        INSERT INTO role_module(
        <include refid="roleModuleBaseColumnSql"/>
        )VALUES(
            #{id},
            #{roleId},
            #{moduleId}
        )
    </insert>

    
    <delete id="deleteRoleModuleById" parameterType="Integer">
        DELETE FROM role_module WHERE id = #{id}
    </delete>

    <update id="updateRoleModule" parameterType="com.hzit.crm.core.entity.RoleModule">
        UPDATE role_module
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleId)">
                role_id = #{roleId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(moduleId)">
                module_id = #{moduleId} ,
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="searchRoleModuleByParams" parameterType="map" resultMap="roleModuleMap">
        SELECT
        <include refid="roleModuleBaseColumnSql"/>
        FROM role_module
        <include refid="roleModuleBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.crm.core.entity.RoleModule" id="roleModuleMap">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="module_id" property="moduleId"/>
    </resultMap>

</mapper>
