<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.crm.core.mapper.CompanyMapper">

    <sql id="companyBaseColumnSql">
        company_id,
        company_name,
        description
    </sql>

    <sql id="companyBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.companyId)">
                    company_id = #{map.companyId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.companyName)">
                    AND company_name = #{map.companyName}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.description)">
                    AND description = #{map.description}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertCompany" parameterType="com.hzit.crm.core.entity.Company">
        INSERT INTO company(
        <include refid="companyBaseColumnSql"/>
        )VALUES(
            #{companyId},
            #{companyName},
            #{description}
        )
    </insert>

    
    <delete id="deleteCompanyByCompanyId" parameterType="Integer">
        DELETE FROM company WHERE company_id = #{companyId}
    </delete>

    <update id="updateCompany" parameterType="com.hzit.crm.core.entity.Company">
        UPDATE company
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(companyName)">
                company_name = #{companyName} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(description)">
                description = #{description} ,
            </if>
        </set>
        WHERE company_id = #{companyId}
    </update>

    <select id="searchCompanyByParams" parameterType="map" resultMap="companyMap">
        SELECT
        <include refid="companyBaseColumnSql"/>
        FROM company
        <include refid="companyBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.crm.core.entity.Company" id="companyMap">
        <id column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="description" property="description"/>
    </resultMap>

</mapper>
