<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.crm.core.mapper.RoleMapper">

    <sql id="roleBaseColumnSql">
        role_id,
        role_name,
        total_auth_value,
        memo
    </sql>

    <sql id="roleBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleId)">
                    role_id = #{map.roleId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleName)">
                    AND role_name = #{map.roleName}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.totalAuthValue)">
                    AND total_auth_value = #{map.totalAuthValue}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.memo)">
                    AND memo = #{map.memo}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertRole" parameterType="com.hzit.crm.core.entity.Role">
        INSERT INTO role(
        <include refid="roleBaseColumnSql"/>
        )VALUES(
            #{roleId},
            #{roleName},
            #{totalAuthValue},
            #{memo}
        )
    </insert>

    
    <delete id="deleteRoleByRoleId" parameterType="Integer">
        DELETE FROM role WHERE role_id = #{roleId}
    </delete>

    <update id="updateRole" parameterType="com.hzit.crm.core.entity.Role">
        UPDATE role
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleName)">
                role_name = #{roleName} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(totalAuthValue)">
                total_auth_value = #{totalAuthValue} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(memo)">
                memo = #{memo} ,
            </if>
        </set>
        WHERE role_id = #{roleId}
    </update>

    <select id="searchRoleByParams" parameterType="map" resultMap="roleMap">
        SELECT
        <include refid="roleBaseColumnSql"/>
        FROM role
        <include refid="roleBaseWhereSql"/>
    </select>
    <!--选择最大的id-->
    <select id="selectMaxId" resultType="Integer">
        select max(role_id) from role
    </select>

    <resultMap id="roleModuleResultMap" type="com.hzit.crm.core.entity.RoleModule">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="module_id" property="moduleId"/>
        <collection property="roles" ofType="com.hzit.crm.core.entity.Role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="total_auth_value" property="totalAuthValue"/>
            <result column="memo" property="memo"/>
        </collection>
        <collection property="modules" ofType="com.hzit.crm.core.entity.Module">
            <id column="module_id" property="moduleId"/>
            <result column="name" property="name"/>
            <result column="auth_value" property="authValue"/>
            <result column="module_url" property="moduleUrl"/>
            <result column="parent_module_id" property="parentModuleId"/>
            <result column="module_level" property="moduleLevel"/>
            <result column="module_order" property="moduleOrder"/>
            <result column="module_ico" property="moduleIco"/>
            <result column="description" property="description"/>
        </collection>
    </resultMap>
    <!--根据用户id查找该用户所能访问的资源 start-->
    <select id="findModuleByUserId" resultMap="roleModuleResultMap" parameterType="String">
        select name,
			module_url,
			description
		from
		    module
		where
			module_id in(
				select
						module_id
				from
						role_module
						where role_id =(select role_id from user_info where user_id=#{userId})

		)
    </select>
    <!--根据用户id查找该用户所能访问的资源 end-->
    <resultMap type="com.hzit.crm.core.entity.Role" id="roleMap">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="total_auth_value" property="totalAuthValue"/>
        <result column="memo" property="memo"/>
    </resultMap>

</mapper>
